{% extends 'base.html.twig' %}


{% block body %}
<div class="btn-admin">
	<a href="{{ path('security_register') }}">
			<button type="submit" class="btn btn-primary">
				Création d'un nouveaux utilisateur
			</button>
			</a>
		<a href="{{ path('security_gestion') }}">
			<button type="submit" class="btn btn-primary">
				Gestion des utilisateurs
			</button>
			</a>
</div>	


{% endblock %}