.btn-patient{
	margin: 5px;
	width:75%;
}

.listes{
	text-align: center;
}

.patients{
	text-align: center;
}

.btn-addpatient{
	width:25%;
	margin:5px;
}

.indicator{
	color:#fff;
}

.btns-bilan{
	position: fixed;
	right: 0%;
	display: grid;
	width: 250px;
}

.btn-bilan{
	margin: 5px 10px 5px 10px;
}

.metadata{
	width: 85%;
    position: absolute;
}

.btns-edition{
	position: relastive;
}

.btn-admin{
	text-align: center;
    margin: 10px;
}

.form-srch{
	width: 30%;
    margin-left: 20px;
}

.form-app{
	width: 76%;
    margin-left: auto;
    margin-right: auto;
}

.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.btn-confirm{
	margin: 5px;
}
