{% extends 'base.html.twig' %}

{% block body %}
<section class="patients">
	<div class="metadata">

		{{ bilan.od}}
		{{ bilan.og}}
	</div>
	<div class="btns-bilan">
		<a href="{{ path('bilanEdit', {'idB': bilan.id, 'idP': patient.id})}}"class="btn btn-primary btn-bilan">modifier</a> 
		<a href="{{ path('bilanDelete', {'idB': bilan.id, 'idP': patient.id})}}"class="btn btn-danger btn-bilan">supprimer</a>
	</div>
</section>
{% endblock %}