{% extends 'base.html.twig' %}


{% block body %}
<section class="bilans">
	<a href="{{ path('bilanCreate')}}" class="btn btn-success btn-lg btn-create">Ajouter un bilan</a>
	
	{% for bilan in bilans %}
		<div class="metadata">

			OD {{ bilan.od}}
			OG {{ bilan.og}}


		</div>
	{% endfor %}

</section>
{% endblock %}

