{% extends 'baseExos.html.twig' %}

{% block body %}
<table id="tapis">
<tr>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
</tr>
<tr>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
</tr>
<tr>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
</tr>
<tr>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
	<td><img src="../image/fondcarte.png"/></td>
</tr>
</table>
{% block javascripts %}<script src="/JS/include.js" /></script><script src="/JS/cartememoire.js"></script>{% endblock %}

{% endblock %}