{% extends 'base.html.twig' %}

{% block title %}Chronomots{% endblock %}

{# {% block javascripts %}<script src="include.js" />{% endblock %}#}


{% block body %}

<h1>Chronomots</h1>
<p>Combien de mot dans le texte?</p>
<input type="text" id="nbMotsSouhaite" />
<br />
<br />
<input type="button" value="Lancer l'application" />

{% block javascripts %}<script src="/JS/chronomots.js" />{% endblock %}

{% endblock %}
