{% extends 'baseExos.html.twig' %}

 
 
{% block title %}Chronomots {% endblock %}
     


{% block body %}




<div class="exos">
     
     <form>
          <label for="histoires">Choississez l'histoire!</label>
          <select id="histoire" name="histoire">
          {% for histoire in histoires %}
            <option>{{ histoire.name}}</option>        
          {% endfor %}
          </select>
          
     </form>
     <a href="{{ path('HistoireCreation') }}"><input type="button" class="btn btn-primary" value="Ajouter histoire" /></a>
     </br>
     <p>Combien de mot dans le texte?</p>
     <input type="text" id="nbMotsSouhaite" />
     <br />
     <br />
     <input type="button" id="Lancement" class="btn btn-primary" value="Lancer l'application" />
</div>
{% block javascripts %}<script src="/JS/include.js" /></script><script src="/JS/chronomots.js"></script>{% endblock %}

{% endblock %}
