{% extends 'base.html.twig' %}

 
 
{% block title %}Lancaster {% endblock %}
     


{% block body %}
</br>
<style> #canvasgauche{
			background-color: white;
			}
		#canvasdroit{
			background-color: white;
			margin-left: 130px;
		}</style>
<div class="exos">
     <h1 class="center">Lancaster</h1>
     
     <canvas id="canvasgauche" width="600" height="600"></canvas>
     <canvas id="canvasdroit" width="600" height="600"></canvas>
     
{% block javascripts %}<script src="/JS/include.js" /></script><script src="/JS/lancaster.js"></script>{% endblock %}

{% endblock %}
