{% extends 'baseExos.html.twig' %}



{% block title %}
Les traits
{% endblock %}



{% block body %}

<div class="">
	<div>
		<div class="btns-LT">
			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">
			
			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">

			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">

			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">

			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">
		</div>
		<div class="cnv-LT">
			<canvas id="canvas1" width="1000" height="100"></canvas>
			<canvas id="canvas2" width="1000" height="100"></canvas>
			<canvas id="canvas3" width="1000" height="100"></canvas>
			<canvas id="canvas4" width="1000" height="100"></canvas>
			<canvas id="canvas5" width="1000" height="100"></canvas>
		</div>
	</div>

	<div class="btn-saveLT">
		 <p id="txt-LT" class="center"></p> {#Rempli avec js #}
		<input type="button" class="btn btn-info"  value="Recommencer">

		{% if idPatient %}
		<a  href="{{ path('listeExosPatient',{'idPatient' : idPatient.id }) }}"> <input
			type="button" class="btn btn-success" value="fini">
		</a>
		{% else %}
		<a href="{{ path('listeExos') }}"> <input class="btn btn-success" type="button"
			value="Fini">
		</a>
		{% endif %}
	</div>
</div>

{% block javascripts %}
<script src="/JS/include.js" /></script>
<script src="/JS/lestraits.js"></script>
{% endblock %}

{% endblock %}