{% extends 'baseExos.html.twig' %}



{% block title %}
Les traits
{% endblock %}



{% block body %}

<div class="">

	{# <input type="button" class="btn-lestraits" value="Commencer">
	<canvas id="canvas1" width="1000" height="100"></canvas>
	<br /> 
	<input type="button" class="btn-lestraits" value="Commencer">
	<canvas id="canvas2" width="1000" height="100"> </canvas>
	<br /> 
	<input type="button" class="btn-lestraits" value="Commencer">
	<canvas id="canvas3" width="1000" height="100"></canvas>
	<br /> 
	<input type="button" class="btn-lestraits" value="Commencer">
	<canvas id="canvas4" width="1000" height="100"></canvas>
	<br /> 
	<input type="button" class="btn-lestraits" value="Commencer">
	<canvas id="canvas5" width="1000" height="100"></canvas> #}
	<div>
		<div class="btns-LT">
			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">
			
			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">

			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">

			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">

			<input type="button" class="btn-lestraits btn btn-info" value="Commencer">
		</div>
		<div class="cnv-LT">
			<canvas id="canvas1" width="1000" height="100"></canvas>
			<canvas id="canvas2" width="1000" height="100"></canvas>
			<canvas id="canvas3" width="1000" height="100"></canvas>
			<canvas id="canvas4" width="1000" height="100"></canvas>
			<canvas id="canvas5" width="1000" height="100"></canvas>
		</div>
	</div>

	<div class="btn-saveLT">
		 <p id="txt-LT" class="center"></p> {#Rempli avec js #}
		<input type="button" class="btn btn-info"  value="Recommencer">

		{% if id %}
		<a  href="{{ path('listeExosPatient',{'id' : id }) }}"> <input
			type="button" class="btn btn-success" value="Enregistrer">
		</a>
		{% else %}
		<a href="{{ path('listeExos') }}"> <input class="btn btn-success" type="button"
			value="Enregistrer">
		</a>
		{% endif %}
	</div>
</div>
<p style="display: none">
	{{ idUser }}
</p>
<p style="display: none">
	{{ id }}
</p>

{% block javascripts %}
<script src="/JS/include.js" /></script>
<script src="/JS/lestraits.js"></script>
{% endblock %}

{% endblock %}