{# {% extends 'baseExos.html.twig' %}#}



{% block title %}
Lettres
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="\CSSFiles\stylesbootswatch.css">
<link rel="stylesheet" href="\CSSFiles\app.css">
<link rel="stylesheet" href="\CSSFiles\allfontawesome.css">
<link rel="stylesheet" href="\CSSFiles\exercice.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block body %}

<html>
<body>
   <div id="AireDeJeux">
       <span class="Carte Haut"></span>
       <span class="Carte Haut"></span>
       <span class="Carte Haut"></span>
       <span class="Carte Haut"></span>
   </div>
   <div id="AireDeJeux">
       <span class="Carte Bas">A</span>
       <span class="Carte Bas">B</span>
       <span class="Carte Bas">C</span>
       <span class="Carte Bas">D</span>
   </div>
</body>
</html>
{% block javascripts %}
<script src="/JS/include.js" /></script>
<script src="/JS/lettres.js"></script>
{% endblock %}

{% endblock %}