<html>
<head>
	  <meta charset="UTF-8">
      <title>Liste Appli</title>      
      <script src="include.js"></script>
      
</head>
<body>
	<h1>Liste Applications</h1>	
	<ul>
	<li><a href="..\chronomots\chronomots.html">Chronomots</a></li>
	</ul>
</body>
</html>