{% extends 'baseExos.html.twig' %}

 
 
{% block title %}Poursuite{% endblock %}
     


{% block body %}

<div class="exos">
     <h1 class="center">Poursuite</h1>
     
     <form>
          <label for="histoires">Choississez l'histoire!</label>
          <select id="histoire" name="histoire">
          {% for histoire in histoires %}
            <option>{{ histoire.name}}</option>        
          {% endfor %}
          </select>
          
     </form>
     <a href="{{ path('HistoireCreation') }}"><input type="button" class="btn btn-primary" value="Ajouter histoire" /></a>
     </br>
     <p>Combien de mot dans le texte?</p>
     <input type="text" id="nbMotsSouhaite" />
     <br />
     <p>Vitesse de disparition?</p>
     <select id="vitesse">
    	<option value="1000">	1s	</option>
    	<option value="900">	0.9s</option>
    	<option value="800">	0.8s</option>
    	<option value="700">	0.7s</option>
    	<option value="600">	0.6s</option>
    	<option value="500">	0.5s</option>
    	<option value="400">	0.4s</option>
    	<option value="300">	0.3s</option>
	</select>
     <br />
     <br />
     <input type="button" class="btn btn-primary" value="Lancer l'application" />
</div>


{% block javascripts %}<script src="/JS/include.js" /></script><script src="/JS/poursuite.js"></script>{% endblock %}

{% endblock %}